@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html {
    background-image: linear-gradient(to top, #381c05, #b66019, #381c05);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #00000075;
    width: 350px;
    height: 500px;
    border-radius: 15px 0px;
    box-shadow: 5px 5px 12px #00000081;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    border-top: 2px solid #ffffff75;
    border-left: 2px solid #ffffff75;
    backdrop-filter: blur(4px);
}

#login #imagem {
    display: block;
    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    padding: 10px;
}

#login #formulario {
    display: block;
    padding: 20px;
}

#imagem h1 {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: #b1830e;
    font-size: 2em;
    text-shadow: 3px 1px 7px rgba(0, 0, 0, 0.658);
    border-bottom: 2px solid #b1830e;
}

#imagem p {
    font-size: 1em;
    color: white;
    text-align: center;
    margin: auto;
}

#mundo {
    display: none;
}

form .campo {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);

}

form label {
    display: none;
}

.campo>span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 7px;


}

.campo>input {
    background-color: transparent;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 0 8px 8px 0;
    padding: 4px;
    transform: translateY(-8px);
}

.campo>input:focus-within {
    background: transparent;
    border: none;
    outline: none;
    color: white;
}

::placeholder {
    position: relative;
    color: white;
    font-weight: bold;
}

.check {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #fff;
    line-height: 40px;
}

.check label {
    display: block;
    font-size: .9em;
}

.check a {
    text-decoration: none;
    color: #fff;
    font-size: .9em;
}

.check a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 38px;
    background-color: #855227;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    border-radius: 22px;
    color: #fff;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.473);

}

button:hover {
    border-radius: 22px;
    background-color: #ce8646;
    transform: scale(1.01);
    transition: 0.2s;
    transition: ease;
}

button:active {
    border-left: 2px solid #b1830e;
    border-top: 2px solid #b1830e;
    box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.384);
    transform: scale(0.99);
    transition: 0.3;
}

.sign-up {
    padding-top: 10px;
    display: flex;
    font-size: .9em;

}

.sign-up a {
    text-decoration: none;
    color: #b1830e;
    padding-left: 20px;
}

.sign-up p {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #b8860b;
    font-weight: bold;
}